# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/

# MLflow
mlruns/
mlartifacts/

# Data
data/
*.csv
*.parquet

# MLflow artifacts
mlflow.db

# Local DB files
*.db
*.sqlite
*.sqlite3

# Env
.env
.env.*